body {
    margin: 0px;
    padding: 0px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.titulo {
    color:#707070;
}

.fondonavbar {
    background-color: #e83e8c;
}

.fondo1 {
    background-color: #e83e8c;
}
